/* IMPOSTAZIONI GENERALI */

html {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
body
{
    background-image: url(../img/sfondo.png);
    box-sizing: border-box;
}

.container{
    min-width: 450px;
    max-width: 500px;
    margin: auto;
    line-height: 1.3;
}
/* HEADER */
header {
    text-align: center;
    text-transform: uppercase;
    background: rgb(71,144,170);
    background: linear-gradient(180deg, rgba(71,144,170,1) 2%, rgba(27,76,103,1) 100%);
    box-shadow: 1px 3px 3px rgb(49, 40, 40);
    color: whitesmoke;
    margin-top: 20px;
    padding: 30px;
}
header p {
    margin: 20px;
}


nav a{
    color: whitesmoke;
    margin: 15px 5px;
    text-decoration: none;
}

/* MAIN */
 main, aside {
    background-color: white;
    /* border:1px solid rgb(207, 190, 190); */
    box-shadow: 1px 3px 3px rgb(49, 40, 40);
    padding: 20px;
}
main {
    margin-top: 20px;
}
main h1, main p {
    margin-bottom: 20px;
}


/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
    font-weight: bold;
    font-size: 1.8rem;
}
article p:first-of-type {
    color: rgb(197, 193, 193);
}

p strong {
    color: red;
    font-weight: 400;
}
article ul li {
    list-style-type: disc;
    margin-left: 30px;
    padding: 5px 0;
    
}
code {
    background-color: rgba(230, 228, 225, 0.822);
    border: 1px solid grey;
    border-radius: 5px;
}
article h2 {
    margin-top: 20px;
}
article h2 + p {
    margin-top: 5px !important;
}
ol {
    margin-bottom: 20px;
}
ol li {
    list-style-type: decimal;
    margin-left: 30px;
    padding: 5px o;

}
main a, aside a {
    color: rgb(53, 163, 206);
}
iframe {
    border-radius: 30px;
    width: 100%;
}
/* TABELLE */
table {
    margin: auto;
    border-bottom: 2px solid rgb(79, 79, 252);
    text-align: center;
    margin-bottom: 20px;
}
table caption {
    font-weight: 500;
    font-style: italic;
}
table thead {
    background-color: rgb(25, 25, 221);
}
th {
    padding: 20px;
    color: white;
}
td {
    padding: 10px;
}
tbody tr:nth-child(2n+2) {
background-color: rgba(230, 228, 225, 0.822);
}
/* FORM */
section {
    background-color: rgba(230, 228, 225, 0.822);
    margin-top: 20px;
}
.novità {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 0;
}
section p {
    margin-left: 10px;
}
.form {
    display: flex;
    justify-content: center;
    padding: 20px ;
}

form input {
    border-bottom: 1px dotted black;
}
button {
    background-color: rgb(25, 25, 221) ;
    color: white;
}
/* ELEMENTI NELL' ASIDE */
aside {
    margin-bottom: 20px;
}

aside h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.asideboxes {
    margin-bottom: 20px;
    background-color: rgba(230, 228, 225, 0.822);
}
.asideboxes a{
    margin:20px 0 0 10px;
    padding-top: 40px;
}
.asideboxes p {
    margin: 0 10px;
}


.yeet {
    padding-top: 20px;
    margin-left: 10px;
}
.asideboxes > p {
    text-align: right;
    padding: 20px 10px;
    font-size: 1rem;
}
/* FOOTER */
footer {
    padding: 20px;
    background: rgb(1,9,20);
    background: linear-gradient(0deg, rgba(1,9,20,1) 2%, rgba(7,63,94,1) 64%);
    color: whitesmoke;
    margin-bottom: 20px;
    box-shadow: 1px 3px 3px rgb(49, 40, 40);
}
footer p {
    text-align: center;
    margin-bottom: 20px;
}
address {
    text-align: center;
    
}
footer address a {
    color: rgb(187, 2, 147);;
}