html {
    font-family: georgia 'Times New Roman', Times, serif;
}
div {
    width: 50%;
    margin: 0 auto;
}
body {
    font: 0.8em georgia;
}
header {
    text-align: center;
}
header p {
    border-top: 2px solid rgb(224, 178, 117);
    background-color: bisque;
}
span {
    text-transform: uppercase;
    color: rgb(9, 94, 65);
}

h1{
    text-align: center;
    text-transform: capitalize;
}
figure img {
    border-radius: 6px;
    width: 100%;
}
figcaption {
    text-align: center;
    color: gray;
}
section {
    border-left: 2px solid bisque;
}
section p {
    text-transform: uppercase;
    color: red;
}
a {
    color: rgb(9, 94, 65);
}
hr {
    color: rgb(9, 94, 65);
}
h2 {
    text-transform: capitalize;
}
h3::first-letter {
    text-transform: uppercase;
}


